<div>
  <div>
    <h1>
      List of all users
    </h1>
  </div>
</div>


<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          Username
        </th>

        <th>
          Private?
        </th>
        
        <th>
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_users.each do |a_user| %>
      <tr>
        <td>
          <%= a_user.username %>
        </td>

        <td>
          <% if a_user.private? %>
            <%= "Yes" %>
          <% else %>
            <%= "No" %>
          <% end %>
        </td>

        <td>
          <% if session.fetch(:user_id) != nil %>

            <form action="/insert_follow_request" method="post">

              <label for="recipient"></label>
              <input type="hidden" id= "recipient" name= "query_recipient_id" value= "<%= a_user.id %>" >

              <% if a_user.private? %> 
                <label for= "status"></label>
                <input type= "hidden" id="status" name= "query_status" value= "pending">
              <% else %>
                <label for= "status"></label>
                <input type= "hidden" id="status" name= "query_status" value= "accepted">
              <% end %>              
            
              <button>follow</button>
            </form>
          <% end %>
        </td>

        <td>
          <a href="/users/<%= a_user.username %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
