<div>
  <div>
    <h1>
      User #<%= @the_user.id %> details
    </h1>

    <div>
      <div>
        <a href="/users">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_user/<%= @the_user.id %>">
          Delete user
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Comments count
      </dt>
      <dd>
        <%= @the_user.comments_count %>
      </dd>

      <dt>
        Email
      </dt>
      <dd>
        <%= @the_user.email %>
      </dd>

      <dt>
        Likes count
      </dt>
      <dd>
        <%= @the_user.likes_count %>
      </dd>

      <dt>
        Password digest
      </dt>
      <dd>
        <%= @the_user.password_digest %>
      </dd>

      <dt>
        Private
      </dt>
      <dd>
        <%= @the_user.private %>
      </dd>

      <dt>
        Username
      </dt>
      <dd>
        <%= @the_user.username %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_user.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_user.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit user
    </h2>

    <form action="/modify_user/<%= @the_user.id %>"  method="post" >
      <div>
        <label for="comments_count_box">
          Comments count
        </label>

        <input type="text" id="comments_count_box" name="query_comments_count" value="<%= @the_user.comments_count %>">
      </div>

      <div>
        <label for="email_box">
          Email
        </label>

        <input type="text" id="email_box" name="query_email" value="<%= @the_user.email %>">
      </div>

      <div>
        <label for="likes_count_box">
          Likes count
        </label>

        <input type="text" id="likes_count_box" name="query_likes_count" value="<%= @the_user.likes_count %>">
      </div>

      <div>
        <label for="password_digest_box">
          Password digest
        </label>

        <input type="text" id="password_digest_box" name="query_password_digest" value="<%= @the_user.password_digest %>">
      </div>

      <div>
        <input type="checkbox" id="private_box" name="query_private" value="1" <%= "checked" if @the_user.private %>>

        <label for="private_box">
            Private
        </label>
      </div>

      <div>
        <label for="username_box">
          Username
        </label>

        <input type="text" id="username_box" name="query_username" value="<%= @the_user.username %>">
      </div>

      <button>
        Update user
      </button>
    </form>
  </div>
</div>

<hr>
