<div>
  <div>
    <h1>
      List of photos
    </h1>
  </div>
</div>


<% if session.fetch(:user_id) != nil %>
<div>
  <div>
    <h2>
      Add a new photo
    </h2>

    <form action="/insert_photo" method="post" class="form-horizontal" enctype="multipart/form-data">

      <div>
        <label for="avatar">
          Image
        </label>
        <input type="file" id="avatar" name="avatar" class="form-control">
        <input type="text" id="image_box" name="query_image">
      </div>

      <div>
        <label for="caption_box">
          Caption
        </label>

        <textarea id="caption_box" name="query_caption" rows="3"></textarea>
      </div>


      <button>
        Add photo
      </button>
    </form>
  </div>
</div>
<% end %>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          Image
        </th>

        <th>
          Caption
        </th>

        <th>
          Owner
        </th>

        <th>
          Posted
        </th>

        <th>
          Likes
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_photos.each do |a_photo| %>
      <tr>
        <td>
          <%# this is causing issues %>
          <img src="<%#= a_photo.cloud_name %>" class="img-responsive">  
        </td>

        <td>
          <%= a_photo.caption %>
        </td>

        <td>
          <%= a_photo.owner_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_photo.created_at) %> ago
        </td>

        <td>
          <%= a_photo.likes_count %>
        </td>

        <td>
          <a href="/photos/<%= a_photo.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
