<div>
  <div>
    <h1>
      Photo details
    </h1>

    <div>
      <div>
        <a href="/photos">
          Go back
        </a>
      </div>

    <% if @current_user.id == @the_photo.owner_id %>
      <div>
        <a href="/delete_photo/<%= @the_photo.id %>">
          Delete this photo
        </a>
      </div>
    </div>
    <% end %>

    <dl>

      <dt>
        Image
      </dt>
      <dd>
        <%#= @the_photo.image %>
      </dd>

      <dt>
        Caption
      </dt>
      <dd>
        <%= @the_photo.caption %>
      </dd>

      <dt>
        Owner
      </dt>
      <dd>
        <% the_user= User.where({ :id => @the_photo.owner_id}).at(0) %>
        <%= the_user.username %>
      </dd>

      <dt>
        Posted
      </dt>
      <dd>
        <%= time_ago_in_words(@the_photo.created_at) %> ago
      </dd>

      <dt>
        Likes count
      </dt>
      <dd>
        <%= @the_photo.likes_count %>
      </dd>

      <dt>
        Comments count
      </dt>
      <dd>
        <%= @the_photo.comments_count.to_i %>
      </dd>

      <dt>
        Fans
      </dt>
      <dd>
        <%#= %>
      </dd>

      <dt>
        Add a Fan
      </dt>
      <dd>
        <button action="">Like</button>
      </dd>


    </dl>
  </div>
</div>

<hr>

<h2>Comments</h2>

<table>
  <tr>
    <th>Commenter</th>
    <th>Comment</th>
    <th>Posted</th>
  </tr>

  <% @the_photo.comments.each do |comment| %>
  <tr>
    <td>
      <%= comment.commenter.username %>
    </td>

    <td>
      <%= comment.body %>
    </td>

    <td>
      <%= comment.created_at %>
    </td>
  </tr>
  
  <% end %>
</table>

<h3>Add a new comment</h3>

<form action="/insert_comment" method="post">
  <label for="browser_photo_id"></label>
  <input id="browser_photo_id" type="hidden" value="<%= @the_photo.id %>" name="query_photo_id">

  <label for="browser_comment">Comment</label>
  <textarea id="browser_comment" name="query_body" placeholder="Enter a comment..."></textarea>

  <button>Add comment</button>
</form>


<% if @current_user.id == @the_photo.owner_id %>
  <div>
    <div>
      <h2>
        Edit photo
      </h2>

      <form action="/modify_photo/<%= @the_photo.id %>"  method="post" >
        <div>
          <label for="caption_box">
            Caption
          </label>

          <textarea id="caption_box" name="query_caption"><%= @the_photo.caption %></textarea>
        </div>

        <div>
          <label for="comments_count_box">
            Comments count
          </label>

          <input type="text" id="comments_count_box" name="query_comments_count" value="<%= @the_photo.comments_count %>">
        </div>

        <div>
          <label for="image_box">
            Image
          </label>

          <input type="text" id="image_box" name="query_image" value="<%#= @the_photo.image %>">
        </div>

        <div>
          <label for="likes_count_box">
            Likes count
          </label>

          <input type="text" id="likes_count_box" name="query_likes_count" value="<%= @the_photo.likes_count %>">
        </div>

        <div>
          <label for="owner_id_box">
            Owner
          </label>

          <input type="text" id="owner_id_box" name="query_owner_id" value="<%= @the_photo.owner_id %>">
        </div>

        <button>
          Update photo
        </button>
      </form>
    </div>
  </div>
<% end %>
